.App {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .articleList {
    grid-template-columns: minmax(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "nav content";
  }
  .singleArticle {
    max-width: 50%;
    margin: auto;
  }
}

.articleList {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1px;
}

.articleCard {
  border: 5px solid;
  border-radius: 10%;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5%;
  max-width: 75%;
  margin: auto;
}

.articleBody {
  padding: 5%;
  max-width: 75%;
  margin: auto;
}

.articleButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 75%;
  margin: auto;
}

.voteButton {
  flex: 1px;
  padding: 4px;
  margin-top: 5%;
  border-width: 1px;
  border-radius: 4px;
  border-color: #e6e5ed;
  justify-content: flex-start;
  max-width: 40%;
  color: rgb(0, 0, 0);
}

.commentButton {
  flex: 1px;
  padding: 4px;
  margin-top: 5%;
  border-width: 1px;
  border-radius: 4px;
  border-color: #e6e5ed;
  background-color: #f8f8f9;
  justify-content: flex-start;
  margin-bottom: 5%;
}

.postedDate {
  padding: 1%;
  text-align: center;
  font-size: 0.7em;
}

.commentCard {
  border-bottom: black solid;
}

.commentList {
  margin: auto;
  margin-top: 5%;
  border-top: black solid;
  max-width: 100%;
}

.commentLogin {
  font-weight: bold;
}

.commentBox {
  flex: 1px;
  padding: 4px;
  margin-right: 1px;
  margin-top: 5%;
  border-width: 1px;
  border-radius: 4px;
  border-color: #e6e5ed;
  background-color: #f8f8f9;
  justify-content: flex-start;
  margin-bottom: 5%;
}

.submit {
  flex: 1px;
  padding: 4px;
  margin-right: 1px;
  border-width: 1px;
  border-radius: 4px;
  border-color: #e6e5ed;
  background-color: #f8f8f9;
  justify-content: flex-start;
  margin-bottom: 5%;
}
