.App {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .articleList {
    grid-template-columns: minmax(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "nav content";
  }
  .singleArticle {
    max-width: 50%;
    margin: auto;
  }
}

.articleList {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1px;
}

.articleCard {
  border: 5px solid;
  border-radius: 10%;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  padding-bottom: 2%;
  max-width: 75%;
  margin: auto;
}

dd {
  margin: auto;
}
.articleBody {
  padding: 5%;
}

.articleButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.voteButton {
  padding-bottom: 10%;
  flex: 0 25%;
  font-size: 1;
  max-width: 50%;
}

.commentButton {
  flex: 0 25%;
}

.postedDate {
  padding: 1%;
  text-align: center;
  font-size: 0.7em;
}

.commentCard {
  border-bottom: black solid;
}

.commentList {
  margin-top: 5%;
  border-top: black solid;
}
