.App {
  text-align: center;
   width: 75%;
   margin: auto;
  }

.loading { 
  justify-content: center;
  margin-top: 30%;
}

.articleCoding { 
  background-color: mediumpurple;
}
.articleCooking { 
  background-color: rgb(233, 82, 27);
}
.articleFootball { 
  background-color: rgb(110, 160, 24);
}

.articleContent {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 10px 5px rgba(85, 75, 75, 0.993);
}

.articleContent:hover {filter: brightness(125%);
}

.articleContent:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.comment { 
  
  margin: auto;
  border-bottom: black solid;
  text-align: left;

}

ion-icon { 
  font-size: 20px;
}









